.white-text {
  color: #ffffff;
  text-align: left;
}

.lightblue-text {
  color: #66b2ff;
  text-align: left;
}

.image-container {
  text-align: center; /* Default alignment for mobile screens */

  @media (min-width: 600px) {
    text-align: right; /* Align right on screens larger than or equal to 600px */
  }
}

.image {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}